:root{
    --title-font: 'Bebas Neue', sans-serif;
    --subtitle-font: 'Fira Sans', sans-serif;
    --at-body-font : 'Roboto', sans-serif;
    --at-primarycolor: #91CBFB;
    --at-secondary-color: #4294BA;
    --at-dark-color: #212121;
    --at-light-color: #f8f8f8;
    --at-font-size: 1.2rem;
    --at-font-weight: 400;
    --at-line-height: 1.5;
}


/*------ELEMENT OVER RIDES------*/
h6,.h6,h5,.h5,h4,.h4,h3,.h3,h2,.h2,h1,.h1 {
    font-family: var(--title-font);
}

body{
    font-family: var(--at-body-font);
    font-size: var(--at-font-size);
    font-weight: var(--at-font-weight);
    line-height: var(--at-line-height);
    color: var(--at-dark-color);
    background-color: var(--at-light-color);
    --webkit-text-size-adjust: 100%;

}

/* Breakpoints
2560x500 
1200x400 
992x300 
576x200 
375x150
*/

/* Styling the Main Title */
.mainTitle{
    font-family: var(--title-font);
    font-size: 2rem;
    line-height: 1.5rem;
}
/* Sizing the logo for the header */
.mainLogo{
    height: .8em;
}

/* Subtitle styling */
.subTitle{
    font-family: var(--subtitle-font);
    font-size: .78rem;
    line-height: .5rem;
    font-weight: 200;
}

.mainHeader {
    padding-top: calc(2em + 74px);
    background-image: url(/img/banners/blue_banner_576.jpg);
    height: 274px;
    background-repeat: no-repeat;
    background-position: left 0px top 74px;
}

.section-page{
    height: 100%;
    padding-top: 6rem;
    padding-bottom: 6rem;

}

/*-------- CARD STYLES-----------*/
.projectCard{
    width: 18rem;
}
.codeChallengeCard{
    width: 15rem;
}

/*---------------- MEDIA QUERIES -----------*/

/*-----ADDED TO TARGET BETWEEN 375 AND 576 PIXEL WIDTH----*/
/* extra small devices (landscape phones 375 and up) */
@media (min-width: 374.98px) {

    /* Styling the Main Title */
    .mainTitle {
        font-family: var(--title-font);
        font-size: 2.5rem;
        line-height: 2rem;
    }

    /* Sizing the logo for the header */
    .mainLogo {
        height: .8em;
    }

    /* Subtitle styling */
    .subTitle {
        font-family: var(--subtitle-font);
        font-size: .78rem;
        line-height: .5rem;
        font-weight: 200;
    }
}

/* small devices (landscape phones 576px and up) */
@media (min-width: 575.98px) {
    .mainHeader {
        background-image: url(/img/banners/blue_banner_768.jpg);
        height: 274px;
    }
}

/* medium devices (landscape phones 768px and up) */
@media (min-width: 767.98px) {
    .mainHeader {
        background-image: url(/img/banners/blue_banner_992.jpg);
        height: 374px;
    }
    /* Styling the Main Title */
    .mainTitle {
        font-family: var(--title-font);
        font-size: 4.5rem;
        line-height: 3.5rem;
    }
    /* Sizing the logo for the header */
    .mainLogo {
        height: .8em;
    }
    /* Subtitle styling */
    .subTitle {
        font-family: var(--subtitle-font);
        font-size: 1.59rem;
        line-height: 1rem;
        font-weight: 200;
        letter-spacing: .1rem;
    }
}

/* large devices (landscape phones 992px and up) */
@media (min-width: 991.98px) {
    .mainHeader {
        background-image: url(/img/banners/blue_banner_1200.jpg);
        height: 474px;
    }
}

/* extra large devices (landscape phones 1200px and up) */
@media (min-width: 1199.98px) {
    .mainHeader {
        background-image: url(/img/banners/blue_banner_2560.jpg);
        height: 574px;
    }
    /* Styling the Main Title */
    .mainTitle {
        font-family: var(--title-font);
        font-size: 6rem;
        line-height: 5rem;
    }
    /* Sizing the logo for the header */
    .mainLogo {
        height: .8em;
    }
    /* Subtitle styling */
    .subTitle {
        font-family: var(--subtitle-font);
        font-size: 1.8rem;
        line-height: 1rem;
        font-weight: 200;
        letter-spacing: .3rem;
    }
}

/* extra extra large devices (landscape phones px and up) */
@media (min-width: 1199.98px) {
    .mainHeader {
        background-image: url(/img/banners/blue_banner_2560.jpg);
        height: 574px;
    }
}